.bg-image {
  background-image: url("https://media.istockphoto.com/id/1422146151/it/vettoriale/sfondo-creativo-astratto.jpg?s=2048x2048&w=is&k=20&c=adnL11F8oZVkmoTRUPD-KnDayaiD75tCKYhLxujKOWM=");
  background-position: top;
  height: 20vh;
}

.bg-image2 {
  background-image: url("https://media.istockphoto.com/id/1422146151/it/vettoriale/sfondo-creativo-astratto.jpg?s=2048x2048&w=is&k=20&c=adnL11F8oZVkmoTRUPD-KnDayaiD75tCKYhLxujKOWM=");
  background-position: top;
  height: 8vh;
}

.sfondo-chiaro {
  background-color: #dde7f1;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.hover:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.custom-top {
  top: 50% !important;
}

.custom-left {
  left: 4% !important;
}

.bg-secondary-custom {
  background-color: #f8fafd;
}
a.text-black.active {
  color: #004c33 !important;
  border-bottom: 3px solid #004c33 !important;
}

.messaggistica-height {
  height: 80vh;
}

.index {
  z-index: 999;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-respect-up {
  margin-block-start: 2.8rem !important;
}

.mt-respect-down {
  margin-block-end: 5rem !important;
}

.bg-white {
  background-color: white;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #f4f2ee;
}

.w-35 {
  width: 35%;
}

#tarles {
  width: 300px;
  height: 250px;
  margin: auto;
}

.custom-left-dropdown {
  left: -85px !important;
}

.dropdown-menu {
  top: 155% !important;
  left: -102px !important;
}

.w-90 {
  width: 90% !important;
}

.circle-img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.add-image {
  background-image: url("https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=");
  background-size: cover;
}

.add-image:hover {
  background-color: #444;
  background-image: none;
}

/* Stili per viewport stretta (larghezza inferiore a 600px) */
@media screen and (max-width: 992px) and (min-width: 769px) {
  #sezioneNotizie {
    margin-top: 8rem !important;
  }

  /* Aggiungi altri stili per viewport stretta se necessario */
}

.cursor-pointer {
  cursor: pointer;
}

#custombutton {
  border: 1px solid black; /* Imposta il colore del bordo e lo spessore iniziale */

  transition: border-width 0.1s; /* Aggiungi una transizione per una transizione più fluida */
}

#custombutton:hover {
  border: 2px solid;
  background-color: #d9e6f0;
}

.bottom-custom-img-home {
  bottom: -36px !important;
}

.custom-end {
  right: 57% !important;
}
